body {
    font-size: 16px;
    font-family: arial, sans-serif;
}

.navbar {
    font-size: 0.875em;
}

a {
    color: #a99c9c;
}

a:hover {
    color: #ed7d1e;
}

.nav > li > a:hover {
    background-color: transparent;
}

.josh {
    font-size: 2em;
}

.orange {
    font-size: 2em;
    color: darkorange;
}

.herobg {
    background: url(images/header-bg.jpg);
    background-size: cover;
    background-position:center center;
}

.herobg h1 {
    font-family: 'Raleway', sans-serif;
    float: right;
    color: white;
    width: 341px;
    font-size: 6.1em;
    text-align: right;
    letter-spacing: -10px;
    font-weight: 800;
    line-height: 75%;
    margin-top: 140px;
    padding-bottom: 10%
}

.aboutbg {
    background: #d9dade;
}

.aboutbg h2 {
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.particle {
    text-align: right;
    margin-right: 20%;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    line-height: 0px;
    padding-bottom: 40px;
}

.about-text {
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.8em;
    line-height: 2em;
}

.blocker {
    width: 140px;
    height: 10px;
    background-color: #6835b4;
    margin: auto;
    margin-bottom: 40px;
}

.articlebg {
    background: #f5f5f5;

}

.article-title {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #3c1f68;

}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    font-weight: 800;
}

.date {
    font-size:0.8em;
    letter-spacing:1px;
    color:#706e6e;
}

.readmore {
    color:#959595;
    font-size:0.9em;
    margin-bottom:40px;
}

footer {
    background-image:url(images/footer.jpg);
        background-size:cover;
    width:100%;
    background-position:center center;
}

.footer-content {
    margin-top:30px;
    margin-bottom:30px;
    color:white;
    
}